
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-thin {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: normal;
  }

/* common style */
.red,
 ul,
.banner{
    display: flex;
}
 .color-text{
    color: rgba(58, 58, 58, 1);
} 


  /* nav style */

.red {
    /* background-color: aqua; */
  
    justify-content: space-between;
    align-items: center;
    margin: 0 7.5rem;
}

.nav-title{
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
}

 ul{

    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

 li{
    list-style: none;
}
li > a{
    
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
}

.banner {
    
    justify-content: space-between;
    align-items: center;
    margin: 3rem 7.5rem;
    gap: 8.31rem;
}

.banner-title{
      font-weight: bold;
      font-size: 52;
}

.banner-p{
    font-weight: 600;
    font-size: 1rem;
}



.banner-btn{
   padding: 0.62rem 1.5rem;
   background-color: rgba(224, 44, 109, 1);
   border-radius: 2.56rem;
   font-weight: bold;
   font-size: 16;
   color: aliceblue;
   border: none;
}


.banner-image{
    background: url('../media/images/Circle\ design.svg');
    background-repeat: no-repeat;
}

.items {
    margin: 5rem 10.31rem;
    flex-wrap: wrap;
     border-top: 1px solid rgba(119, 136, 153, 0.71) ;
    border-bottom: 1px solid rgba(119, 136, 153, 0.71) ; 
    text-align: center;

}


.gallary{
    margin: 1rem 12.18rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.card{
    padding: 0.93rem;
    box-shadow: 0  0.125rem 0.315rem  rgba(80, 77, 77, 0.89) ;
}




.star{
    width: 1rem;
}

.card-title{
    font-weight: 500;
    font-size: 1.75rem;
    color: rgba(24, 25, 31, 1);
}
.card-subtitle{
    font-weight: 500;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.87);
}

.card-star{
    font-weight: 500;
    font-size: 1rem;
    color: rgba(94, 99, 102, 1);
}

.card-description{
    font-weight: 500;
    font-size: 1rem;
    color: rgba(120, 120, 133, 1);
}




@media screen and (max-width :576px) {
    
    .red,
    ul {
        flex-direction: column;
    }

    .banner{
        flex-direction: column-reverse;
    }

    .gallary{
        grid-template-columns: 1fr;
    }

}





@media screen and (max-width : 992px) and (min-width :576px) {
    
    .red,
     ul{
        flex-direction: column;
    }

    .banner{
        flex-direction: column-reverse;
    }
.gallary{
    grid-template-columns: 1fr;
}

}